<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="/home" routerLinkActive="active">Chat App</a>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
            <button mat-menu-item (click)="navigateToAccount()">
                <span>Account</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>