.login_form {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.login_form * {
    margin: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: 70px auto 90px;
    grid-template-rows: 36
}