<div class="login_form">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>