<h1 mat-dialog-title>Change username</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Old password" [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}"
            [type]="oldHide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="oldHide = !oldHide">{{oldHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="New password" [(ngModel)]="newPassword0" [ngModelOptions]="{standalone: true}"
            [type]="newHide0 ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="newHide0 = !newHide0">{{newHide0 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Repeat new password" [(ngModel)]="newPassword1" [ngModelOptions]="{standalone: true}"
            [type]="newHide1 ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="newHide1 = !newHide1">{{newHide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="newPassword0 === newPassword1">
            The two passwords do not match
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="change()" cdkFocusInitial>Ok</button>
</div>